body {
  background-color: black;
}
header {
  // 寬度 高度 背景顏色 單位向素px
  width: 300px;
  height: 250px;
  background-color: blanchedalmond;
}
#main {
  //  寬度 高度 背景顏色 單位向素px
  width: 600px;
  height: 450px;
  background-color: blue;
}

footer {
  //  寬度 高度 背景顏色 單位向素px
  width: 100px;
  height: 350px;
  background-color: burlywood;
}
